<div class="ui cards">
  <div class="card" ng-repeat="photo in page.photos">
    <a ng-href="{{photo.url}}" class="image">
      <img src="{{photo.url}}" alt="{{photo.url}}">
    </a>
    <div class="content">
      <a ng-href="photo.url" class="header" ng-bind="photo.title"></a>
      <div class="meta">
        <p>Photo added on <span class="date" ng-bind="photo.createdAt | date:'short'"></span></p>
        <p>Added by <strong ng-bind="photo.user.username"></strong></p>
      </div>
    </div>
  </div>
</div>
<a href="#" ng-hide="page.first" ng-click="controller.previousPage()">Previous</a>
<a href="#" ng-hide="page.last" ng-click="controller.nextPage()">Next</a>

