<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Photo App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/stylesheet.css">
    <link rel="stylesheet" href="/lib/semantic/dist/semantic.css">
  </head>
  <body ng-app="app">

    <p>testsets</p>

    {% if user %}
    <p>You're logged in!</p>

    <div class="fn-new-photo-form"></div>
    <div class="fn-my-photos"></div>

    <button class="ui button fn-logout-button">Logout</button>
    {% else %}
    <div class="ui modalad">
      <div class="fn-login-form"></div>
    </div>
    {% for photo in photos %}
    <div class="ui card">
      <div class="ui header">{{photo.title}}</div>
      <img src="{{photo.url}}">
    </div>
    {% endfor %}
    {% endif %}


    {% for path in js %}
    <script type="text/javascript" src="{{ path }}"></script>
    {% endfor %}
  </body>
</html>
